<p>{{pokemon.name}}</p>
<img [src]="pokemon.image" [alt]="pokemon.name" />

<p>Types: </p>
<ul *ngFor="let type of pokemon.types">
  <li>{{type.type.name}}</li>
</ul>

<p>Stats: </p>
<ul *ngFor="let stat of pokemon.stats">
  <li>{{stat.stat.name}}</li>
  <ul>
    <li>Base stat: {{stat.base_stat}}</li>
    <li>Effort: {{stat.effort}}</li>
  </ul>
</ul>
