.btn {
  background-color: #FF1C1C;
  color: white;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px;
}

.addBtn {
  width: 200px;
  height: 80px;
  font-size: large;
}

.loginBtn {
  font-size: medium;
}
