<h3>Profile</h3>
<ul>
  <li>Height: {{pokemon.height}}</li>
  <li>Weight: {{pokemon.weight}}</li>
  <li>Abilities: </li>
  <ul *ngFor="let ability of pokemon.abilities">
    <li>{{ability.ability.name}}</li>
  </ul>
  <li>Base experience: {{pokemon.base_experience}}</li>
</ul>
