<label for="trainername">Trainer name:</label>
<input type="text" name="trainername" id="trainername" placeholder="Enter your trainer name..." [(ngModel)]="trainername">
<button class="btn loginBtn" type="button" (click)="onLoginClick()">Login</button>
