<nav>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="styled-link" routerLink="/">
        <img src="assets/pokeball.png" alt="Logo" width="101" />
      </a>
    </li>
    <ng-container *ngIf="hasActiveSession">
      <li class="nav-item">
        <a class="styled-link" routerLink="/trainer">Trainer</a>
      </li>
      <li class="nav-item">
        <a class="styled-link" routerLink="/catalogue">Catalogue</a>
      </li>
    </ng-container>
  </ul>
</nav>
