nav {
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 0.75em;
}

.styled-link {
  color: white;
  text-decoration: none;
}

.styled-link:hover {
  color: black;
}
