<main>
  <h1>Pokemon details</h1>
  <ng-container *ngIf="pokemon$ | async as pokemon">
    <div class="container">
      <app-pokemon-base [pokemon]="pokemon$ | async"></app-pokemon-base>
      <app-pokemon-profile [pokemon]="pokemon$ | async"></app-pokemon-profile>
      <app-pokemon-moves [pokemon]="pokemon$ | async"></app-pokemon-moves>
      <button class="btn addBtn" type="button" (click)="onAddToCollectionClick(pokemon)">Add to collection</button>
    </div>
  </ng-container>
</main>

