.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

.pokemon-list-item {
  background-color: var(--color-primary);
  margin-bottom: 1em;
  border: black 1px solid;
  box-shadow: 0 0 10px -2px #777777;
  padding: 1em 1em;
}

.pokemon-list-item:hover {
  cursor: pointer;
  margin-left: 1em;
}

.pokemon-img{
  border: black 1px solid;
  border-radius: 50%;
  vertical-align: middle;
  background-color: white;
}
