<main class="main-container">
  <div *ngIf="pokemonList.length !== 0; else showInfo">

    <ul class="pokemon-list">

      <li
        class="pokemon-list-item"
        *ngFor="let pokemon of pokemonList"
        (click)="onPokemonClick(pokemon.id)"
      >
        <img [src]="pokemon.image" class="pokemon-img" [alt]="'Image of ' + pokemon.name"/>
        {{pokemon.name}}
      </li>

    </ul>

  </div>

  <ng-template #showInfo>No Pokémon</ng-template>
</main>
