/* You can add global styles to this file, and also import other style files */
@import './app/shared/css/fonts.css';
@import './app/shared/css/layout.css';
@import "./app/shared/css/buttons.css";

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

:root {
  --color-primary: #FF1C1C;
  --color-secondary: #2E399B;
}
